.rightbar{
    flex:2.5;
    border-left-color: white;
    border-left-width: 1px;
    height:100%;
    overflow-y: hidden;
    position: sticky;
    top: 150px;
}

.rightbarwrapper{
    padding: 10px;
}
.rightbarheader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rightbaricon{
    color: #F9883E;
    font-size: 35px;
    margin: auto;
}
.rightbarhr{
    margin: 30px;
    border-top: 1px solid #804A14;
}
.rightbarbody{
    margin-top: 30px;
}
.rightbarbodybodyitemheadertext>h4{
    font-size: 20px;
    font-weight: bold;
    color: #F9883E;
}
.rightbarbodybodyitemheadertext>p{
    font-size: 15px;
    
    color: #ecad82;
}
.rightbarbodyheader{
    color:#F9883E;
    font-size: 15px;
    text-align: center;
   
    font-weight: bold;
    margin: auto;
}
.rightbarbodybodyitemheaderavatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.rightbarbodybodyitemheader{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.rightbarbodybodyitem{
    margin: 30px 70px;
}