.login{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.loginwrapper{
   display: flex;
   flex:1;
   
}
.loginText{
   font-size: 25px;
    color:black;
    font-weight: bold;
    margin:55px;
    text-align: center;

}
.loginText2{
    font-size: 35px;
     color: black;
    font-weight: bold;
     
 
 }

.loginLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: center;
    margin-top:250px;
    background-color: #F9883E;
    border-radius: 50px;
    height: 400px;
    
}
.loginRight{
    flex: 1;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    margin-top:140px;
    justify-items: flex-end;
   
    
 
    
   
}
.loginRightWrapper{
    background-color: #F9883E;
    height:480px;
    padding: 40px;
    border-radius: 40px;
}

.loginLogo{
    height: 250px;

}
.loginBox{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginInput{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 3px solid black;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: black;
    background-color: #38200942;
}
.loginInput::placeholder{
    color: rgb(0, 0, 0);
}
.loginButton{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #F9883E;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
}
.loginText3{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.RegisterButton{
    width: 240px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #F9883E;
    background-color: rgb(85, 151, 23);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}