.login{
    height: 100vh;
    width: 100vw;
   
}
.loginwrapper{
   display: flex;
   flex:1;
   
}
.loginText{
   font-size: 25px;
    color:#F9883E;
    font-weight: bold;
    margin:55px;
    text-align: center;

}
.loginText2{
    font-size: 35px;
     color: black;
    font-weight: bold;
     
 
 }

.loginLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
    
}
.loginRight{
    flex: 1;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9883E;
    justify-items: flex-end;
   
    
 
    
   
}


.loginLogo{
    height: 250px;

}
.loginBox{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginInput{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 3px solid black;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: #38200942;
}
.loginInput::placeholder{
    color: rgb(0, 0, 0);
}
.loginButton{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #F9883E;
    background-color: black;
    color: #F9883E;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.loginButton:hover{
    opacity: 0.8;
}
.RegisterButton1{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #F9883E;
    background-color: rgb(0, 0, 0);
    color: #F9883E;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}
.RegisterButton1:hover{
    opacity: 0.8;
}
.loginText3{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
