.feedcontainer{
    margin:auto
    
}


.uploadpostcontainer{
    width: 80%;
    margin: auto;
   
    border-radius: 10px;
    background-color: rgba(20, 11, 1, 0.529);
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.749);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.uploadpostwrapper{
    padding:10px;
}

.shareTop{
    display:flex;
    align-items: center;
}
.shareTopImg{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:10px;
    object-fit: cover;
}
.shareInput{
    border:none;
    width:80%;
    background-color: transparent;
    color: #F9883E;
}
.shareInput:focus{
    outline:none;
}
.shareInput::placeholder {
    color: #cf9873;
}
.shareInput:hover{
    border:none;
    outline:none;
    opacity: 0.8;
}
.shareHr{
    margin:20px;
    background-color: #F9883E;
    color: #F9883E;
}

.shareBottom{
    display:flex;
    align-items: center;
    width: 100%;
}

.shareOptions{
    display:flex;
    flex:1;
    cursor: pointer;
    align-items: center;
    margin-bottom:10px;
    justify-content: space-around;
    
    
}
.shareOption{
    border: 1px  #F9883E;
    /* padding: 5px; */
    border-radius: 5px;
    background-color: black;
      
}

.shareOption:hover{
    opacity:0.7;
}
.shareOptionIcon{
    font-size: 20px;
    margin-right:3px;
    margin-left:5px;
}
.shareOptionIcon{
    color:#F9883E;
}
.shareOptionText{
    color: #F9883E;
}
.sharebutton{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.shareButton{
    background-color: #F9883E;
    border-radius: 10px;
    padding:8px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.shareButton:hover{
    opacity: 0.8;
}

.thumbnailContainer{
    padding: 0px 20px 10px 20px;
    position: relative;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
.thumbnail{
    width:300px;
    height:300px;
    border-radius:20px;
    object-fit: cover;

   
}
.closeIcon{
    position: absolute;
    top: -15px;
    align-self: center;
    left: 220px;
    opacity: 0.8;
    font-size: 35px;
    color:#F9883E;
    cursor: pointer;
}
.post{
    width: 80%;
    display: block;
    background-color: rgba(20, 11, 1, 0.529);
    border: 5px solid rgb(134, 78, 21);
  /* animation: pulse 3s infinite; */
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    font-family: 'Fira Mono', monospace;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.post-wrapper{
    padding:10px;
    
}

.postCenter{
    margin-top: 10px;
    position: relative;
}
.postTop{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.postprofilepic{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:10px;
    object-fit: cover;
}
.postTopLeft{
    display:flex;
    flex:1;
    align-items: center;
}
.postTopLeftText{
    flex:1;
    display: flex;
    justify-content: space-between;
}
.postUsername{
    color: #F9883E;
    font-size: 20px;
    font-weight: bold;
    margin:0px 5px;
}
.postTime{
    color: #cf9873;
    font-size: 12px;
    margin:0px 10px;

}
.postCaption{
    color: #F9883E;
    font-size: 16px;
    font-weight: 500;
    margin:10px 20px;
}
.postimage{
    width:70%;
    height:100%;
    border-radius: 10px;
    display: block;
    margin:auto;
    margin-top: 10px;
    position:relative;

   
}


.postBottomLeftIcon{
    display: flex;
    align-self: center;
    justify-content: center;
}
.postBottom{
    margin-top: 15px;
    margin-bottom:20px;
}
.postReaction{
    width:50px;
    height:50px;
    border-radius:50%;
    cursor: pointer;
    margin-right:30px;
}
.postReaction:hover{
    opacity:0.7;
    color: yellow;
}
.postBottomLeftText {
    display: flex;
    align-self: center;
    justify-content: center;
    color: #F9883E;
    margin-top: 15px;
  
}
.postReactionCount{
    width:50px;
    height:50px;
    border-radius:50%;
    cursor: pointer;
    margin-right:20px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}
.templates{
    /* display: flex; */
    margin-top: 20px;
    min-width: 480px;
    
}
.templateSelect{
    max-width: 750px;
    width: 100%;
}
.templateSelect::-webkit-scrollbar{
    width: 0px;

}
.templateSelect::-webkit-scrollbar-thumb{
    background-color: black;
    width: 0px;
}
.templateSelect::-webkit-scrollbar-track{
    background-color: #F9883E ;
    width: 0px;
}
.template{
    width:150px;
    height:150px;
    border-radius:10%;
    margin-right:10px;
    background-color: #F9883E;
    color:black

}
.template:hover{
    opacity:0.7;
}
.templateSelectText{
    color: #F9883E;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.templateEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.createOrBackButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.captionInput{
    width:80%;
    height:25px;
    border-radius:10px;
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid #F9883E;
    padding:10px;
    background-color: #342007;
    color: #F9883E;
    font-size: 15px;
    font-weight: bold;
}

.BackButton{
    background-color: black;
    border-radius: 10px;
    padding:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #F9883E;
    font-size: 15px;
    font-weight: bold;
}
.BackButton:hover{
    opacity: 0.8;
}
.CreateMemeButton{
    background-color: #F9883E;
    border-radius: 10px;
    padding:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.CreateMemeButton:hover{
    opacity: 0.8;
}
.selectedTemplate{
    border: 1px solid #F9883E;
    border-radius: 10px;
    max-height:75%;
    max-width:75%;
    object-fit: cover;
}
.topCaption{
    
   
    position: absolute;
    width: 75%;
    max-width: 500px;
    text-align: center;
    left: 51%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    word-wrap: break-word;
    font-family: impact, sans-serif;
    font-size: 1.4vw;
    text-transform: uppercase;
    top: 25%;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;

}
.bottomCaption{
    position: absolute;
    width: 75%;
    max-width: 500px;
    text-align: center;
    left: 51%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    word-wrap: break-word;
    font-family: impact, sans-serif;
    font-size: 1.4vw;
    text-transform: uppercase;
    top: 75%;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.topCaptionPost{

    position: absolute;
    width: 75%;
    max-width: 500px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    word-wrap: break-word;
    font-family: impact, sans-serif;
    font-size: 1.4vw;
    text-transform: uppercase;
    top: 10%;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;

    
}
.bottomCaptionPost{
    position: absolute;
    width: 75%;
    max-width: 500px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    word-wrap: break-word;
    font-family: impact, sans-serif;
    font-size: 1.4vw;
    text-transform: uppercase;
    top:80%;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.topCaptionThumbnail{
    position: absolute;
    width: 75%;
    max-width: 500px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    word-wrap: break-word;
    font-family: impact, sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    top:5%;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottomCaptionThumbnail{
    position: absolute;
    width: 75%;
    max-width: 500px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    word-wrap: break-word;
    font-family: impact, sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    top:80%;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}