.feedcontainer{
    flex:5.5;
}


.uploadpostcontainer{
    width: 80%;
    margin: auto;
    max-height:240px;
    border-radius: 10px;
    background-color: #140b01;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.uploadpostwrapper{
    padding:10px;
}

.shareTop{
    display:flex;
    align-items: center;
}
.shareTopImg{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:10px;
    object-fit: cover;
}
.shareInput{
    border:none;
    width:80%;
    background-color: transparent;
    color: #F9883E;
}
.shareInput:focus{
    outline:none;
}
.shareInput::placeholder {
    color: #cf9873;
}
.shareHr{
    margin:20px;
    background-color: red;
    color:red;
}

.shareBottom{
    display:flex;
    align-items: center;
    width: 100%;
}

.shareOptions{
    display:flex;
    cursor: pointer;
    align-items: center;
    margin-bottom:10px;
}
.shareOption{
    display:flex;
    align-items: center;
    margin-left:150px;
}

.shareOption:hover{
    opacity:0.7;
}
.shareOptionIcon{
    font-size: 18px;
    margin-right:3px;
}
.shareOptionIcon{
    color:#F9883E;
}
.shareOptionText{
    color: #F9883E;
}

.shareButton{
    background-color: #F9883E;
    border-radius: 15%;
    width: 80x;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top:20px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.post{
    width: 80%;
    display: block;
    background-color: #140b01;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.post-wrapper{
    padding:10px;
}
.postCenter{
    margin-top: 10px;
}
.postTop{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.postprofilepic{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:10px;
    object-fit: cover;
}
.postTopLeft{
    display:flex;
    align-items: center;
}
.postUsername{
    color: #F9883E;
    font-size: 20px;
    font-weight: bold;
    margin:0px 5px;
}
.postTime{
    color: #cf9873;
    font-size: 12px;
    margin:0px 10px;
}
.postCaption{
    color: #F9883E;
    font-size: 20px;
    font-weight: 700;
    margin:10px 20px;
}
.postimage{
    width:500px;
    height:100%;
    border-radius: 10px;
    display: block;
    margin:auto;
    margin-top: 10px;

   
}


.postBottomLeftIcon{
    display: flex;
    align-self: center;
    justify-content: center;
}
.postBottom{
    margin-top: 15px;
    margin-bottom:20px;
}
.postReaction{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:30px;
}