.profiletopwrapperlefttext>h1{
   
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    margin-left: 15px;
}
.profiletopwrapperlefttext>p{
    font-size: 14px;
    font-weight: bold;
    color: rgb(161, 156, 156);
    display: flex;
    justify-content: center;
  
}
.profiletopwrapperleft{
    /* centering it */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -30px;

}
.topandside{
    display: flex;
   
}
.profile{
    flex: 8.5;
}
.profilestatsitemtext{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profilestatsitemnumber{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profilestats{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.profilestatsitem{
    background-color: #42413f;
    margin:10px;
    padding: 10px;
    border-radius: 20px;
}
.profilestatswrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.followormessagetext{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.followormessage{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.followormessagecontainer{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.followormessageitem1{
    background-color: #F9883E;
    color:black;
    margin:10px;
    font-size: 19px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.followormessageitem1:hover{
    opacity:0.7;
}
.followormessageitem2{
    background-color: #3ebef9;
    color:black;
    margin:10px;
    font-size: 19px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.followormessageitem2:hover{
    opacity:0.7;
}
.followormessagetext{
    color:black;
}