
.searchInput::placeholder {
    color: #804A14;
}

input:focus{
    outline: none;
}

.navbar{
    background-color: black;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #804A14;
}
